/* @import 'reset.css'; */
/* @import 'fonts.css'; */

/* VARIABLES */
:root {
	--bg : white;
	--color: darkblue;
}

html {
	font-size: 16px;
}

body {
	background: var(--bg);
	color: var(--color);
}

/* TYPO */

/* STRUCTURE */

