<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">
	<title>
		{{ config.site_name }} - 
		{% block title %}{% endblock %}
	</title>
</head>
<body>
	{% include 'nav.html'%}

	<main> {% block main %} {% endblock %} </main>

</body>
</html>
