{% extends 'base.html' %}	

{% block title %}
{{page.title}}
{% endblock %}

{% block main %}
<h1>{{page.title}}</h1>
<h2>{{ author }}</h2>



<div class="content">
	{{ page.content }}
</div>



{% endblock %}


